body {
    background-color: black;
    color:white;
    text-align: center;
    
}

header{
    color:black;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

div{
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    color:black;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}